<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="assets/ps-logo.png"
			alt="playstation logo"
			srcset=""
			width="140px"
			height="32px"
		>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a href="https://www.linkedin.com/in/robsonbatista1975/"><img src="assets\linkedIn.png" alt="Linked In"></a></li>
			<li><a href="https://github.com/robsonosbor"><img src="assets\github.png" alt="GitHub"></a></li>
			<li><a href="https://www.youtube.com/@diomakethechange"><img src="assets\youtube.png" alt="Youtube"></a></li>
		</ul>
	</div>
</div>
